body{
  background-color: #61aba7;
}

@font-face {
    font-family: myFirstFont;
    src: url('assets/fonts/soria-font.ttf');
}


.btn{
  background-color: #14B9D5;
}
label,h2{
  font-family: myFirstFont;
}
#title{
  color:white;
}
#title2,label{
  color: #98999D;
}
hr{
  background-color: #FEB96C;
 height: 1px; border: 0;
}
/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/pw_pattern.png);
}

/* css for title */
h1 {
  color: #55acee;
  text-align: center;
}/*
.input-group-addon{
  background-color:orange;
  border-radius: 10px;
  color:white;
}*/
.link {
  border-bottom: 2px dotted #55acee;
  text-decoration: none;
  color: #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* css for the shiny buttons */

#data{
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.error{
  color:#C0C0C0;
}
